//output:../index.html, pretty:true
doctype html
html
  head
  body
    header
      a(class="logo" href="#workshops" data-scroll)
        img(src="assets/img/arthoney-logo.svg")
      nav(class="nav-collapse")
        ul
          li(class="menu-item active")
            a(data-scroll href="#workshops") Радионице
          li(class="menu-item")
            a(data-scroll href="#gifts") Поклони
          li(class="menu-item")
            a(data-scroll href="#event") Догађај
          li(class="menu-item")
            a(data-scroll href="#boutique") Бутик
          li(class="menu-item")
            a(data-scroll href="#contact") Контакт
    section#workshops
      h1 Радионице
    section#gifts
      h1 Поклони
    section#event
      h1 Догађај
    section#boutique
      h1 Бутик
    section#contact
      h1 Контакт
